* {
    outline: solid 1px red;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h5,
dd,
p {
    margin: 0;
}

h1{
    line-height: 1.3;
    font-size: 56pt;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    font: inherit;
}

button:hover{
    cursor: pointer;
}

:root{
    --primary-color: #00296B;
    --secondary-color: #005A92;
    --accent: #FDC500;
    --bg-color: #FFFFFF;
    --surface-color: #F8FAFC;
    --text-color: #0F172A;
    --muted-text-color: #475569; 
}

.under-construction-container{
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--muted-text-color);
}

.nav-header img{
    object-fit: cover;
}


.nav-links{
    display: flex;
    padding: 0; 
    align-items: center;
    font-weight: 200;
    font-size: 18px;
    color: var(--primary-color);
    list-style: none;
    line-height: 18pt;
    margin-left: auto;
}

.nav-links li{
    padding: 1.5rem;
}



.nav-overlay {
    display: none;
}

a {
    text-decoration: none;
}

.nav-links a:link, .nav-links a:visited{
    color: var(--primary-color)
}

.navbar > ul > button{
    background-color: var(--accent);
    border-radius: 30px;
    font-weight: 400;
    font-size: 16pt;
    border: none;
    white-space: nowrap;
    padding: 18px 24px;
    color: var(--primary-color);
    line-height: 18pt;
}

.menu-btn{
    display: none;
}

.hero{
    position: relative;
    background-image: url("./assets/hero-image/vitaly-gariev-E65p9f63Iv0-unsplash.jpg");
    background-size: cover;
    background-position: 65% center;
    min-height: 650px;
}

.hero-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-overlay{
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content{
    position: relative;
    z-index: 1;
    padding: 48px 86px;
    align-content: center;
}

.hero-content h1{
    margin-top: 46px;
    color: var(--bg-color);
    margin-bottom: 8px;   
}

.hero-content p{
    margin-top: 8px;
    color: #f1f1f1;
}

.hero-content button{
    margin-top: 16px;
    background-color: var(--accent);
    border-radius: 30px;
    white-space: nowrap;
    font-weight: 100;
    font-size: 16pt;
    padding: 18px 24px;
    border: none;
    color: var(--primary-color);
}

.industries{
    display: flex;
    flex-direction: column;
    padding-top: 108px;
    min-height: 380px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}
.industries h2{
    font-size: 36px;
    text-align: center;
    margin: 0 0 38px;
}

.industries ul{
    gap: 60px;
    display: flex;
    justify-content: space-around;
}

.industries ul > li{
    font-size: 24px;
    font-weight: bold;
}

.testimonials{
    display: flex;
    height: 582px;
    padding: 0px 24px;
    align-items: center;
    justify-content: center;
}

.testimonial-card{
    margin: 0px 16px;
    padding: 32px;
    width: 388px;
    height: 282px;
    border: 1px solid #D4D2E3;
    border-radius: 24px;
}

.testimonial-card p{
    font-size: 18pt;
}

.testimonial-profile{
    display: flex;
    align-items: center;  
    margin-bottom: 16px; 
}

.testimonial-header h3{
    margin-left: 8px;
}

.testimonial-profile img{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    object-fit: cover;
    clip-path: circle(50%);
}

.testimonial-profile-info h3{
    font-weight: bold;
    color: var(--text-color);
    font-size: 20px;
}

.testimonial-profile-info h5{
    font-size: 16px;
    font-weight: 100;
    color: var(--muted-text-color);
}

.client-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    min-height: 540px;
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.client-results-header{
    text-align: center;
}

.client-results-header h2{
    font-size: 36px;
}

.client-results-header p{
    font-size: 18px;
    margin: 8px 0px 38px 0;
}

.stats{
    display: flex;
}

.result:nth-child(n+2){
    border-left: 1px solid var(--surface-color);
}

.result{
    padding: 0px 40px;
    text-align: center;
}

.result dt{
    font-size: 44px;
    font-weight: bold;
}

.result dd{
    font-size: 24px;
}

.services{
    min-height: 1252px;
    margin-bottom: 16px;
}

.services-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 150px;

}

.services-header h2{
    color: var(--primary-color);
}

.services-header p{
    text-align: center;
    color: var(--muted-text-color);
}

.services-cards{
    display: grid;
    place-content: center;
    column-gap: 26px;
    row-gap: 28px;
    grid-template-columns: repeat(auto-fit, minmax(0px, 380px));
}

.service-card{
    border: 1px solid #D4D2E3;
    border-radius: 24px;
    padding-left: 45px;
    padding-top: 55px;
    
}

.service-card h3{
    font-size: 28px;
    margin-right: 32px;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.service-card p{
    font-size: 18px;
    margin-bottom: 32px;
}
.service-card img{
    margin-bottom: 44px;
    width: 38px;
    height: 38px;
}

.call-to-action{
    padding-bottom: 64px;
    min-height: 608px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-inner-box{
    display: flex;
    min-height: 408px;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E4E6E7;
    max-width: 1220px;
}

.cta-inner-box h1{
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: var(--primary-color);
}

.cta-inner-box form{
    display: flex;
    padding: 24px 36px;
    flex-direction: column;
}

.cta-inner-box form > input{
    margin-bottom: 48px;
}

.cta-inner-box form > button {
    margin: 26px 0px;
    background-color: var(--accent);
    border-radius: 30px;
    font-weight: 400;
    font-size: 16pt;
    border: none;
    white-space: nowrap;
    padding: 18px 24px;
    color: var(--primary-color);
    line-height: 18pt;
}

.thanks-message{
    color: var(--primary-color);
    display: flex;
}

footer{
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 0 64px;
}

.footer-main{
    gap: 4rem;
    display: flex;
    padding-bottom: 78px;
    border-bottom: 1px solid var(--surface-color);
}

footer a{
    color: var(--bg-color);
    text-decoration: none;
}

.footer-brand p{
    white-space: nowrap;
    font-size: 18px;
    margin-bottom: 20px;
}

.social-icons{
    display: flex;
    gap: 16px;
}

.footer-brand > img{
    height: 234px;
    
}

.footer-nav{
    padding-top: 80px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}


.footer-nav > div > p:nth-child(1) {
    white-space: nowrap;
    margin-bottom: 20px; 
    font-size: 20px;
    font-weight: bold;
}

.footer-services  a, .footer-company a{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    white-space: nowrap;
}

.footer-industries p:nth-child(n+2), .footer-areas-we-serve p:nth-child(n+2){
    margin-bottom: 20px;
    font-size: 18px;
    white-space: nowrap;
}

.footer-copyright{
    color: var(--muted-text-color);
    justify-items: center;
    margin-top: 32px;
}


@media (max-width: 900px) {
    
    .menu-btn{
        display: block;
    }

    .navbar{
        position: relative;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
    }

    .navbar > ul > button{
        margin-bottom: 1.5rem;
    }

    .nav-header{
        display: flex;
        align-items: center;
    }


    .nav-links{
        display: none;
    }

    .nav-links.open{
        display: flex;
        position: absolute;
        z-index: 9999;
        top: 110px;
        width: 100%;
        flex-direction: column;
        background-color: var(--bg-color);
    }

    .nav-links > li{
        width: 100%;
        text-align: center;
    }

    .nav-links > li:hover{
        background-color: #e6e6e6;
    }

    .nav-overlay{
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .nav-overlay.active{
        opacity: 1;
        visibility: visible;
    }

    .industries ul{
        flex-direction: column;
        padding: 36px;
    }

    .stats{
        flex-direction: column;
    }

    .result{
        margin-bottom: 36px;
    }

    .result:nth-child(n+2){
        border-left: none;
    }

    .result:nth-child(-n + 3){
        padding-bottom: 24px;
        border-bottom: 1px solid var(--muted-text-color);
    }

    .footer-main{
        flex-direction: column;
    }
}

@media (max-width: 375px){
    .hero-content{
        padding: 24px 44px;
    }
    .hero-content h1{
        line-height: 46pt;
        font-size: 36pt;
    }
    .hero{
        background-position: 50% center;
    }

    .cta-inner-box form{
        padding: 24px 16px;
    }
}