* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1{
    line-height: 66pt;
    font-size: 56pt;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    font: inherit;
}

:root{
    --primary-color: #00296B;
    --secondary-color: #005A92;
    --accent: #FDC500;
    --bg-color: #FFFFFF;
    --surface-color: #F8FAFC;
    --text-color: #0F172A;
    --muted-text-color: #475569; 
}

.navbar{
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--muted-text-color);
}

.navbar > img{
    width: 225px;
    height: auto; 
    margin: 0px 30px 0px 0px;  
}
.navbar > ul{
    display: flex;
    gap: 4rem;
    margin: 0px 40px 0px 0px;
    padding: 0; 
}

.navbar > ul > li{
    display: flex;
    font-weight: 200;
    font-size: 18pt;
    color: var(--primary-color);
    list-style: none;
    line-height: 18pt;
}

.navbar > ul > button{
    background-color: var(--accent);
    border-radius: 30px;
    width: 240px;
    height: 54px;
    font-weight: 100;
    font-size: 16pt;
    border: none;
    /* padding: 24px 18px; */
    color: var(--primary-color);
    line-height: 18pt;
}

.hero{
    display: grid;
    grid-template-columns: 600px 600px;
}

.hero-img{
    max-width: 100%;
}